#!/bin/bash

set -e;

# Install Python {{ python_version }}
wget {{ python_src_url }};

tar -xf Python-{{ python_version }}.tar.xz;
mv Python-{{ python_version }} /opt/Python-{{ python_version }};

cd {{ python_root }};
./configure --enable-optimizations --enable-shared;
make -j {{ build_threads }};
make {{ make_install_method }};
ldconfig {{ python_root }};

# Install pip for Python {{ python_version }}
python{{ python_version[0:3] }} {{ python_root_parent }}/get-pip.py;
python{{ python_version[0:3] }} -m pip install --upgrade pip;

touch python{{ python_version }}.success;